/dataset/Detectedface/
/dataset/face_both_eyes/
/dataset/face_no_left_eye/
/dataset/face_no_mouth/
/dataset/face_no_nose/
/dataset/face_no_right_eye/
/dataset/raw/
/dataset/raw_no_mouth/
/dataset/test_dataset/my_face/
/dataset/test_detectedface/
/dataset/test_face_both_eyes/
/dataset/test_face_no_left_eye/
/dataset/test_face_no_mouth/
/dataset/test_face_no_nose/
/dataset/test_face_no_right_eye/
/dataset/test_raw/
/dataset/videos/
/dataset/Detectedface.zip
/dataset/face_both_eyes.zip
/dataset/face_no_left_eye.zip
/dataset/face_no_nose.zip
/dataset/face_no_right_eye.zip
/dataset/raw.zip
/dataset/test_face_no_left_eye/
